body {
  background-color: #0047b3;
  overflow: hidden; }

.container {
  position: relative;
  top: 50px;
  width: 100%;
  max-width: 1007px;
  margin: 0 auto; }

/*Header styles*/
header {
  width: 100%;
  /*Menu at small screen*/
  /*Normal nav styles*/ }
  header #menuButton {
    position: absolute;
    left: -25px;
    height: 35px;
    width: 35px;
    padding: 2px 2px 2px 24px;
    border-radius: 5px;
    background-color: #000074;
    cursor: pointer;
    visibility: hidden; }
    header #menuButton:hover {
      -ms-transform: scale(1.05, 1.05);
      -webkit-transform: scale(1.05, 1.05);
      transform: scale(1.05, 1.05); }
  header nav {
    width: 100%;
    color: #fff; }
    header nav #homeTab,
    header nav .navButton {
      display: inline-flex;
      cursor: pointer; }
    header nav #homeTab {
      position: relative;
      top: 8px;
      padding: 0.7% 1.4% 0.9%;
      border: 0;
      background-color: #000;
      border-radius: 20%; }
      header nav #homeTab img {
        padding-top: 34%; }
    header nav .navButton {
      padding: 1.5% 3.84% 1.5% 2%;
      border: 0;
      border-radius: 10px;
      margin-right: 0.5%;
      font-family: "Arial", Helvetica, sans-serif;
      font-size: 100%;
      background: linear-gradient(#000099, #000033); }
      header nav .navButton img {
        padding-bottom: 2%; }

.main-body {
  /*Accordion styles*/ }
  .main-body #sortBySelect {
    position: absolute;
    top: 18%;
    width: 110px;
    border-radius: 5px;
    font-size: 16px;
    font-style: italic; }
  .main-body #sortByLabel {
    position: absolute;
    top: 15%;
    font-family: "Arial", Helvetica, sans-serif;
    color: #fff; }
  .main-body #accordion {
    /*Accordion div position*/
    width: 100%;
    margin-top: -80%;
    /*Accordion body controls*/ }
    .main-body #accordion h3 {
      width: 100%;
      z-index: 3;
      padding: 3% 0;
      border: 0;
      border-radius: 10px;
      margin-top: 2%;
      font-family: "Arial", Helvetica, sans-serif;
      font-size: 140%;
      color: #fff;
      background: linear-gradient(#000099, #000033);
      /*Icon when accordion body in default position*/
      /*Icon when accordion body in activated position*/ }
      .main-body #accordion h3 .creditCardName,
      .main-body #accordion h3 .headerDisplay {
        display: inline;
        width: 20%; }
      .main-body #accordion h3 .creditCardName {
        width: 100%;
        margin-left: 40px; }
      .main-body #accordion h3 .headerDisplay {
        width: 21.1%;
        padding: 0;
        margin: 0 10px 0 0;
        float: right; }
      .main-body #accordion h3 .defaultIcon {
        background-image: url("/img/green-arrow-right.png") !important;
        width: 25px;
        height: 25px; }
      .main-body #accordion h3 .selectedIcon {
        background-image: url("/img/green-arrow-down.png") !important;
        width: 25px;
        height: 25px; }
    .main-body #accordion .accordionContent {
      position: relative;
      top: -5px;
      height: 210px;
      width: 100%;
      z-index: 3;
      border: 0;
      padding: 0;
      border-radius: 0 0 10px 10px;
      overflow: hidden; }
      .main-body #accordion .accordionContent .cashbackContainer,
      .main-body #accordion .accordionContent .information,
      .main-body #accordion .accordionContent img {
        display: inline-block; }
      .main-body #accordion .accordionContent img {
        margin: 30px 10px 0 30px; }
      .main-body #accordion .accordionContent .information {
        position: absolute;
        top: 30px;
        width: 45%;
        height: 100px;
        padding: 0 10px;
        border-right: 1px solid grey;
        margin: 0;
        font-size: 0.8em; }
      .main-body #accordion .accordionContent .cashbackContainer {
        position: absolute;
        top: 40px;
        right: 40px;
        width: 20%;
        font-family: "Arial", Helvetica, sans-serif; }
        .main-body #accordion .accordionContent .cashbackContainer label {
          font-size: 1.5em; }
        .main-body #accordion .accordionContent .cashbackContainer p {
          margin: 0;
          font-size: 1.8em; }
      .main-body #accordion .accordionContent .moreInfoContainer {
        position: absolute;
        top: 120px;
        left: 190px;
        width: 400px;
        height: 35%;
        font-family: "Arial", Helvetica, sans-serif; }
        .main-body #accordion .accordionContent .moreInfoContainer .moreInfoWrapper {
          display: inline-block;
          margin-right: 70px; }
        .main-body #accordion .accordionContent .moreInfoContainer label {
          font-size: 1.1em; }
        .main-body #accordion .accordionContent .moreInfoContainer p {
          margin-top: 5px;
          font-size: 1.3em; }

/*Responsive Media Styles*/
@media (max-width: 1050px) {
  .container {
    top: 10px; }
    .container header .ctmLogo {
      margin-left: 70px; }
    .container header #menuButton {
      visibility: visible; }
    .container header nav {
      position: absolute;
      top: -18px;
      left: -320px;
      background: linear-gradient(#000099, #000033);
      width: 300px; }
      .container header nav #homeTab,
      .container header nav .navButton {
        position: relative;
        top: -10%;
        display: block;
        margin-top: 30px;
        margin-left: 10px;
        background: none; }
        .container header nav #homeTab b,
        .container header nav .navButton b {
          position: relative;
          top: -15px;
          padding-left: 40px; }
        .container header nav #homeTab img,
        .container header nav .navButton img {
          width: 17%;
          display: inline; }
        .container header nav #homeTab img[alt="Home Image"],
        .container header nav .navButton img[alt="Home Image"] {
          position: relative;
          left: 38%; }
    .container .main-body #sortBySelect {
      position: absolute;
      top: 12%;
      font-size: 0.9em; }
    .container .main-body #sortByLabel {
      position: absolute;
      top: 9%; }
    .container .main-body #accordion {
      margin-top: 7.5%; }
      .container .main-body #accordion h3 {
        font-size: 1.25em; } }

@media (max-width: 930px) {
  .main-body #sortByLabel,
  .main-body #sortBySelect {
    margin-left: 8%; }
  .main-body #accordion {
    width: 84%;
    margin: 50px auto 0; }
    .main-body #accordion h3 {
      margin-top: 20px; }
      .main-body #accordion h3 .creditCardName {
        font-size: 0.85em; }
      .main-body #accordion h3 .headerDisplay {
        width: 170px;
        font-size: 0.85em; }
    .main-body #accordion .accordionContent img {
      margin: 15px; }
    .main-body #accordion .accordionContent .information {
      top: 15px;
      font-size: 0.7em; }
    .main-body #accordion .accordionContent .cashbackContainer {
      right: 20px; }
      .main-body #accordion .accordionContent .cashbackContainer .cashback {
        font-size: 1.3em; }
      .main-body #accordion .accordionContent .cashbackContainer .cashbackValue {
        font-size: 1.5em; }
    .main-body #accordion .accordionContent .moreInfoContainer {
      top: 100px;
      left: 180px;
      width: 340px; }
      .main-body #accordion .accordionContent .moreInfoContainer label {
        font-size: 1em; }
      .main-body #accordion .accordionContent .moreInfoContainer p {
        font-size: 1.2em; } }

@media (max-width: 820px) {
  .main-body #accordion .accordionContent {
    height: 170px; }
    .main-body #accordion .accordionContent img {
      width: 120px;
      height: 90px; }
    .main-body #accordion .accordionContent .cashbackContainer label {
      font-size: 1.1em; }
    .main-body #accordion .accordionContent .cashbackContainer p {
      font-size: 1.3em; }
    .main-body #accordion .accordionContent .moreInfoContainer {
      top: 110px;
      left: 160px; } }

@media (max-width: 760px) {
  .container header #menuButton {
    height: 28px;
    width: 28px;
    padding: 2px 2px 2px 24px; }
  .container header nav {
    position: absolute;
    top: -18px;
    left: -220px;
    background: linear-gradient(#000099, #000033);
    width: 200px; }
    .container header nav #homeTab {
      margin-top: 50px; }
    .container header nav .navButton {
      display: block;
      margin-top: 5px;
      margin-left: 10px;
      background: none; }
      .container header nav .navButton b {
        position: relative;
        top: -10px;
        padding-left: 20px; }
      .container header nav .navButton img {
        width: 20%;
        display: inline; }
      .container header nav .navButton img[alt="Home Image"] {
        top: 20px;
        left: 34%; }
  .container .main-body #accordion h3 {
    font-size: 1em; }
    .container .main-body #accordion h3 .headerDisplay {
      width: 140px; }
  .container .main-body #accordion .accordionContent .information {
    font-size: 0.6em; }
  .container .main-body #accordion .accordionContent .cashbackContainer {
    right: -10px; }
    .container .main-body #accordion .accordionContent .cashbackContainer label {
      font-size: 0.9em; }
    .container .main-body #accordion .accordionContent .cashbackContainer p {
      font-size: 1.1em; }
  .container .main-body #accordion .accordionContent .moreInfoContainer {
    font-size: 0.9em;
    top: 100px; } }

@media (max-width: 600px) {
  .main-body #accordion h3 .creditCardName {
    margin-left: 28px; }
  .main-body #accordion .accordionContent img {
    width: 100px;
    height: 80px; }
  .main-body #accordion .accordionContent .information {
    font-size: 10%; }
  .main-body #accordion .accordionContent .moreInfoContainer {
    left: 140px;
    margin-top: 15px; }
    .main-body #accordion .accordionContent .moreInfoContainer .moreInfoWrapper {
      font-size: 0.9em; } }

@media (max-width: 540px) {
  .ctmLogo {
    width: 300px; }
  .main-body {
    margin-top: 60px; }
    .main-body #sortBySelect {
      margin-top: 10px; }
    .main-body #accordion h3 .creditCardName,
    .main-body #accordion h3 .headerDisplay {
      font-size: 0.68em; }
    .main-body #accordion h3 .headerDisplay {
      position: relative;
      left: 15px;
      margin-right: -15px;
      margin-top: 4px; }
    .main-body #accordion .accordionContent .information {
      font-size: 0.5em !important; }
    .main-body #accordion .accordionContent .cashbackContainer {
      margin-right: -10px;
      font-size: 0.85em; }
    .main-body #accordion .accordionContent .moreInfoContainer {
      margin-top: -10px; }
      .main-body #accordion .accordionContent .moreInfoContainer .moreInfoWrapper {
        font-size: 0.8em; } }

@media (max-width: 490px) {
  .main-body #sortByLabel,
  .main-body #sortBySelect {
    font-size: 16px; }
  .main-body #accordion .accordionContent img {
    margin-top: 5px;
    height: 80px;
    width: 130px;
    padding-top: 5px;
    padding-right: 13.5%;
    border-right: 1px solid #000; }
  .main-body #accordion .accordionContent .information {
    top: 90px;
    left: 0;
    height: 115px;
    width: 170px;
    padding-right: 19px; }
  .main-body #accordion .accordionContent .cashbackContainer {
    top: 15px;
    left: 65%;
    font-size: 1em; }
  .main-body #accordion .accordionContent .moreInfoContainer {
    left: 65%;
    margin-top: -25px; }
    .main-body #accordion .accordionContent .moreInfoContainer .moreInfoWrapper {
      font-size: 0.9em;
      display: block; } }

@media (max-width: 430px) {
  .main-body #accordion h3 .creditCardName,
  .main-body #accordion h3 .headerDisplay {
    font-size: 0.6em; }
  .main-body #accordion h3 .headerDisplay {
    margin-right: -30px; }
  .main-body #accordion .accordionContent img {
    width: 120px;
    padding-right: 64px; }
  .main-body #accordion .accordionContent .cashbackContainer {
    left: 68%; }
  .main-body #accordion .accordionContent .moreInfoContainer {
    left: 68%; } }
