
body {
  background-color: #0047b3;
  overflow-x: hidden;
} //body

.container {
  position: relative;
  top: 30px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
} //.container
/*Header styles*/
header {
  width: 100%;
  /*Menu at small screen*/
  #menuButton {
    position: absolute;
    left: -25px;
    height: 25px;
    width: 25px;
    padding: 2px;
    padding-left: 24px;
    border-radius: 5px;
    background-color: #000074;
    cursor: pointer;
    &:hover {
      -ms-transform: scale(1.05,1.05);
      -webkit-transform: scale(1.05,1.05);
      transform: scale(1.05,1.05);
    } //&:hover
  } //#menuButton
  #ctmLogo {
    width: 300px;
    margin-left: 60px;
  } //#ctmLogo
  nav {
     position: absolute;
     top: -40px;
     left: -210px;
     background: $colour-gradient;
     font-family: $defualt-font-family;
     width: 200px;
     div {
       cursor: pointer;
     }
     //Menu items on hover
     .subMenu {
       display: none;
     }
     color: #fff;
     #homeTab {
      position: relative;
      top: 50px;
      margin-left: 70px;
      img {
        width: 35px;
        margin-bottom: 0px;
      } //img
    } //#homeTab
     .navButton {
       display: block;
       position: relative;
       top: 50px;
       padding-top: 10px;
       padding-left: 10px;
       overflow-y: auto;
       &:hover {
         background-color: $menu-background;
         color: #000;
       }
       &:last-child {
         b {
           top: -15px;
           margin-left: 10px;

         } //b
         img {
           width: 30px;
         } //img
       } //&:last-child
       b {
         position: relative;
         top: -10px;
         padding-left: 20px;
         z-index: 300;
       } // b
       img {
         width: 40px;
         display: inline;
       } //img
       ul {
         padding: 0;
         margin: 0;
         li {
           padding-bottom: 5px;
           margin-right: 10px;
           margin-top: 5px;
           border-bottom: 1px solid #000;
           color: #000;
           list-style-type: none;
           a {
             text-decoration: none;
             padding: 5px;
             border-radius: 5px;
             color: #000;
             line-height: 30px;
             &:hover {
               background-color: #189507;
             } //&:hover
           } //a
           &:last-child {
             border: none;
           } //&:hover
         } //li
       } //ul
    } //.navButton
  } //nav
} //header
.main-body {
  width: 100%;
  font-family: $defualt-font-family;
  h1 {
    margin-bottom: 10px;
    color: #fff;
    font-size: 1.8em;
    font-weight: 300;
  }
  #sortBySelect {
    width: 110px;
    z-index: 100;
    margin-top: 30px;
    border-radius: 5px;
    font-size: 16px;
    font-style: italic;
    &:hover {
      cursor: pointer;
    } //&:hover
  } //.sortBySelect
  #sortByLabel {
    position: absolute;
    margin-top: 10px;
    color: #fff;
    z-index: 100;
  } //#sortByLabel
  /*Accordion styles*/
  #accordion {
    /*Accordion div position*/
    width: 100%;
    margin-top: 30px;
    h3 {
      width: 100%;
      z-index: 3;
      padding: 3% 0 3% 0;
      border: 0;
      border-radius: 10px;
      margin-top: 10px;
      font-family: $defualt-font-family;
      font-size: 0.75em;
      color: #fff;
      background: $colour-gradient;
      .creditCardName {
        margin-left: 30px;
      } //.creditCardName
      .headerDisplay {
        width: 120px;
        margin-right: 5px;
        text-align: right;
        float: right;
      } //.headerDisplay
      /*Icon when accordion body in default position*/
      .defaultIcon {
          background-image: url(/img/green-arrow-right.png) !important;
          width: 25px;
          height: 25px;
      } //.defaultIcon
      /*Icon when accordion body in activated position*/
      .selectedIcon {
          background-image: url(/img/green-arrow-down.png) !important;
          width: 25px;
          height: 25px;
      } //.selectedIcon
    } //h3
    /*Accordion body controls*/
    .accordionContent {
      position: relative;
      top: -5px;
      height: 210px;
      width: 100%;
      z-index: 3;
      border: 0;
      padding: 0;
      border-radius: 0 0 10px 10px;
      overflow: hidden;
      img,
      .information,
      .cashbackContainer {
        display: inline-block;
      } //img,.information,.cashbackContainer
      img {
        width: 140px;
        height: 90px;
        padding-right: 70px;
        border-right: 1px solid black;
        margin: 10px 10px 0 10px;
      } //img
      .information {
        position: absolute;
        top: 100px;
        left: 0;
        width: 180px;
        height: 90px;
        padding: 0;
        padding-left: 10px;
        padding-right: 30px;
        border-right: 1px solid grey;
        margin: 0;
        font-size: 0.55em;
      } //.information
      .cashbackContainer {
        position: absolute;
        top: 10px;
        right: 10%;
        width: 90px;
        font-family: $defualt-font-family;
        label {
          font-size: 1em;
        } //label
        p {
          margin: 0;
          font-size: 1.2em;
        } //p
      } //.cashbackContainer
      .moreInfoContainer {
        position: absolute;
        top: 80px;
        right: 11%;
        font-family: $defualt-font-family;
        .moreInfoWrapper {
          position: relative;
          &:nth-child(2) {
            margin-top: -10px;
          } &:nth-child(2)
          label {
            font-size: 0.9em;
          } //label
          p {
            margin-top: 0;
            font-size: 1.1em;
          } //p
        } //.moreInfoWrapper
      } //.moreInfoContainer
    } //.accordionContent
  } //#accordion
} //main-body
