$colour-gradient: linear-gradient(#000099,#000033);
$defualt-font-family: "Arial", Helvetica, sans-serif;


body {
  background-color: #0047b3;
  overflow-x: hidden;
}

.container {
  position: relative;
  top: 100px;
  width: 100%;
  max-width: 1007px;
  margin: 0 auto;
}

/*Header styles*/

header {
  width: 100%;

  /*Menu at small screen*/
  #menu-button {
    position: absolute;
    left: -25px;
    height: 35px;
    width: 35px;
    padding: 2px;
    padding-left: 24px;
    border-radius: 5px;
    background-color: #000;
    cursor: pointer;
    visibility: hidden;
  }

  #menu-button, .ctm-logo {
    display: inline-block;
  }

  #menu-button:hover {
    -ms-transform: scale(1.05,1.05);
    -webkit-transform: scale(1.05,1.05);
    transform: scale(1.05,1.05);
  }

  #menu-div {
    position: absolute;
    top: -18px;
    left: -320px;
    z-index: 10;
    width: 300px;
    background-color: #000;
    ul {
      font-size: 20px;
    }
    li {
      padding-top: 20px;
      list-style-type: none;
      color: #fff;
      cursor: pointer;
      span {
        position: relative;
        top: -4px;
        padding-left: 40px;
      }
      img[alt="Home Button"] {
        position: relative;
        width: 33px;
        left: 80px;
      }
      span:nth-of-type(an+b) {
        left: -5px;
      }
    }
  }


  /*Normal nav styles*/
  nav {
    width: 100%;

    .nav-button, #home-tab {
      display: inline-flex;
      cursor: pointer;
    }

    #home-tab {
      position: relative;
      top: 8px;
      padding: .7% 1.4% .9% 1.4%;
      border: 0;
      color: #fff;
      background-color: #000;
      border-radius: 20%;
      outline: none;
    }
    #home-tab img {
      padding-top: 34%;
    }

    .nav-button {
      padding: 1.5% 2.92% 1.5% 2.92%;
      border: 0;
      border-radius: 10px;
      margin-right: .5%;
      color: #fff;
      font-family: $defualt-font-family;
      font-size: 100%;
      background: $colour-gradient;
      outline: none;
    }
    .nav-button img {
      padding-bottom: 2%;
    }
  }
}

/*Accordion styles*/

#accordion {
  /*Accordion div position*/
  width: 100%;
  margin-top: 5%;

  h3 {
    width: 100%;
    z-index: 3;
    padding: 3% 0 3% 0;
    border: 0;
    border-radius: 10px;
    margin-top: 2%;
    font-family: $defualt-font-family;
    font-size: 140%;
    color: #fff;
    background: $colour-gradient;
  }

  .apr, .creditCard-name {
    display: inline;
    width: 20%;
  }

  .creditCard-name {
    margin-left: 40px;
  }

  .apr {
    width: 130px;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    float: right;
  }

  /*Accordion body controls*/
  .accordionContent {
    position: relative;
    bottom: 5px;
    height: 200px;
    width: 100%;
    z-index: 3;
    border: 0;
    padding: 0;
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    overflow: hidden;
  }


  img {
    z-index: 2;
    margin: 30px 10px 0 30px;
  }

  .information {
    position: relative;
    top: -65%;
    left: 18%;
    z-index: 1;
    width: 45%;
    padding: 10px;
    border-right: 1px solid grey;
    margin: 0;
    font-size: 90%;
  }

  .cashback {
    position: relative;
    top: -95%;
    z-index: 1;
    float: right;
    width: 30px;
    margin: 0;
    margin-right: 20%;
    font-family: $defualt-font-family;
    font-size: 25px;
  }

  .cashbackValue {
    @extend .cashback;
    margin-right: -30px;
    margin-top: 35px;
    font-size: 30px;
  }

  #cashback-sign2, #cashback-value2 {
    position: relative;
    top: -110%;
  }

  #cashback-sign4, #cashback-value4 {
    position: relative;
    top: -100%;
  }

  /*Icon when accordion body in default position*/
  .defaultIcon {
      background-image: url(/img/green-arrow-right.png) !important;
      width: 25px;
      height: 25px;
  }

  /*Icon when accordion body in activated position*/
  .selectedIcon {
      background-image: url(/img/green-arrow-down.png) !important;
      width: 25px;
      height: 25px;
  }
}

@media (max-width: 1050px) {
  .container {
    top: 10px;
    header {
      .ctm-logo {
        margin-left: 80px;
      }

      #menu-button {
        visibility: visible;
      }
      nav {
        visibility: hidden;
      }
    }

    #accordion {
      position: absolute;
      top: 40%;
      margin-top: 0;

      .cashback {
        margin-top: 20px;
      }

      .cashbackValue {
        margin-top: 45px;
      }
    }
  }
}

@media (max-width: 930px) {
  #accordion {
    margin-top: 50px;
    .accordionContent {
      width: 84%;
      margin: 0 auto;
    }

    h3 {
      font-size: 120%;
      width: 84%;
      margin: 0 auto;
      margin-top: 20px;
      font-size: 19px;

      .creditCard-name {
        margin-left: 30px;
      }

      .apr {
        width: 100px;
      }
    }


    img {
      width: 18%;
      height: 50%;
      margin-left: 15px;
    }

    .information {
      left: 22%;
      margin-top: 15px;
      font-size: 12px;
    }

    .cashback {
      font-size: 17px;
      margin-bottom: 40px;
    }

    .cashbackValue {
      // margin-top: 25px;
      font-size: 20px;
    }
  }
}

@media (max-width: 600px) {
  #accordion {
    h3 {
      font-size: 15px;

      .apr {
        margin-right: -10px;
      }
    }
    .accordionContent {
      .information {
          font-size: 10px;
      }
      .cashback, .cashbackValue {
        position: relative;
        left: 10px;
        font-size: 90%;
      }
    }
  }
}

@media (max-width: 480px) {
  .ctm-logo {
    width: 200px;
  }
  #accordion {
    h3 {
      font-size: 12px;
    }
    .accordionContent {
      img {
        height: 80px;
      }
      .information {
        margin-top: 35px;
      }
      .cashback, .cashbackValue {
        font-size: 80%;
      }
    }
  }
}

@media (max-width: 420px) {
  h3 {
    height: 30px;
    .creditCard-name, .apr {
      position: relative;
      top: 7px;
    }
    .apr {
      position: relative;
      left: 15px;
    }
  }
  #accordion {
    .accordionContent {
      img {
        position: relative;
        top: -8px;
        height: 70px;
        width: 100px;
        padding-right: 56px;
        border-right: 1px solid #000;
        margin-bottom: 0;
      }
      .information {
        position: relative;
        top: -40px;
        left: 0px;
        padding-top: 40px;
        margin-top: 0;
        font-size: 8px;
      }
      .cashback, .cashbackValue {
        position: relative;
        left: -20px;
        margin-top: 60px;
      }
      .cashbackValue {
        margin-top: 80px;
      }
    }
  }
}

@media (max-width: 380px) {
  #accordion {
    .accordionContent {
        img {
          padding-right: 40px;
        }
    }
  }
}
